<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tasks</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                background-color: powderblue
            }
            h1 {
                text-align: center;
                color: crimson;
            }
        </style>
    </head>
    <body>
        <h1>Shapes Calculator</h1>
        <ul>
            <p><li><a href="square">Square Calculator</a></li></p>
            <p><li><a href="rectangle">Rectangle Calculator</a></li></p>
            <p><li><a href="triangle">Triangle Calculator</a></li></p>
            <p><li><a href="circle">Circle Calculator</a></li></p>
        </ul>
    </body>
</html>