<!DOCTYPE html>
<html>
    <head>
        <title>Circle</title>
        <style>
            .btn-group {
                float: right;
            }
            h1 {
                text-align: left;
            }
            body {
                margin: 20px;
                text-align: left;
                font-family:'Courier New', Courier, monospace;
                background-color: powderblue;
            }
            .container{
                float:left;
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Circle Calculator</h1>
        <a href="index">Back to Homepage</a>
    </body>
</html>